$theme-colors: ("primary": #CF8F69,
    "info": #0068b3, "light":#F9F9F9);


$body-bg: #F2F2F2;
$font-family-sans-serif: 'Montserrat',
sans-serif;

$border-radius: .45rem;
$border-radius-lg: .5rem;
$border-radius-sm: .3rem;

$enable-responsive-font-sizes:true;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap');
// @import '../node_modules/sal.js/dist/sal';




::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.spacer {
    height: 50px;
}


.spacer-lg {
    height: 100px;
}

.mt-4c {
    margin-top: 10rem !important;
}

.spacer-xl {
    height: 45vh;
}


.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    background-color: #000000;
}

.section {

    position: relative;
    height: 70vh;
    color: white;

}


.header {

    position: relative;
    height: 100vh;
    color: white;

}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.static {
    height: 100vh;
}

.bg2::after {
    background: linear-gradient(#000000, transparent, transparent, #000000), url('../assets/img/bg2.jpg') no-repeat;
    background-size: cover;

}

.bg1::after {
    background: linear-gradient(#000000, transparent, transparent, #000000), url('../assets/img/bg.jpg') no-repeat;
    background-size: cover;

}


.stroke {
    color: black;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.card-img-overlay {
    padding: 0px;
    height: 100%;

    .card-content {
        height: 100%;
        visibility: hidden;
        color: transparent;
        padding: 10px;
        border-radius: 8px;
        transition: all ease-in-out 0.2s;

    }



}


.card-img-overlay:hover {
    .card-content {

        color: white;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.653);
        transition: all ease-in-out 0.2s;
    }


}